header{
    display: block;
    width: 100%;
    position: fixed;
    height: 70px;
    z-index: 9;
}
#logo{
    width: 83px;
    height:60px ;
    display: block;
    float: left;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 2px;
    position: relative
}

#logo img{
    width: 100%;
}

#home {
    height: 100vh;
    width: 100%;
    background-image: url('../images/bg.jpg');
    background-position: bottom center;
    background-size: cover;
}
#home::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background: rgba(43,43,43,0.92);
    background: -moz-linear-gradient(top, rgba(43,43,43,0.92) 0%, rgba(34,34,34,0.21) 39%, rgba(19,19,19,0.32) 97%, rgba(19,19,19,0.32) 99%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(43,43,43,0.92)), color-stop(39%, rgba(34,34,34,0.21)), color-stop(97%, rgba(19,19,19,0.32)), color-stop(99%, rgba(19,19,19,0.32)));
    background: -webkit-linear-gradient(top, rgba(43,43,43,0.92) 0%, rgba(34,34,34,0.21) 39%, rgba(19,19,19,0.32) 97%, rgba(19,19,19,0.32) 99%);
    background: -o-linear-gradient(top, rgba(43,43,43,0.92) 0%, rgba(34,34,34,0.21) 39%, rgba(19,19,19,0.32) 97%, rgba(19,19,19,0.32) 99%);
    background: -ms-linear-gradient(top, rgba(43,43,43,0.92) 0%, rgba(34,34,34,0.21) 39%, rgba(19,19,19,0.32) 97%, rgba(19,19,19,0.32) 99%);
    background: linear-gradient(to bottom, rgba(43,43,43,0.92) 0%, rgba(34,34,34,0.21) 39%, rgba(19,19,19,0.32) 97%, rgba(19,19,19,0.32) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b2b2b', endColorstr='#131313', GradientType=0 );
}


.container{
    width: 1200px;
    max-width: 100%;
    display: block;
    margin: 0 auto;
    position: relative;
    float: none;
    overflow: hidden;
}

nav{
    float: right;
    position: relative;
    display: block;
    width: 70%;
}
nav ul{
    width: 100%;
    list-style: none;
    float: right;
    text-align: right
}
nav ul li{
    display: inline-block;
    margin: 5px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Rajdhani', sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 10px;
    overflow: hidden;
    display: block;
    position: relative;
    text-align: center;
}
nav ul li a::after{
    content: "";
    position: absolute;
    display: block;
    height: 2px;
    width: 100%;
    top: 100%;
    background: rgba(255,255,255, 0);
    transition: 0.5s;

}

nav ul li a:hover::after{
    top: 90%;
    background:rgba(255,255,255, 0.9);
}
#texts{
    top: 40%;
    display: block;  
  height: 25%;
  width: 100%;
  color: #fff;
  position: absolute;
  z-index: 1000;
  font-family: 'Rajdhani', sans-serif;
  font-size: 50px;
  text-align: center;
  vertical-align: center;
}
small{
    font-size: 20px;
    font-style: italic;
}